// create plain text in here https://www.kammerl.de/ascii/AsciiSignature.php
//
//                                                                     88
//                                                                     88
//                                                                     88
//  ,adPPYb,d8  ,adPPYba, 8b,dPPYba,   ,adPPYba, 8b,dPPYba, ,adPPYYba, 88
// a8"    `Y88 a8P_____88 88P'   `"8a a8P_____88 88P'   "Y8 ""     `Y8 88
// 8b       88 8PP""""""" 88       88 8PP""""""" 88         ,adPPPPP88 88
// "8a,   ,d88 "8b,   ,aa 88       88 "8b,   ,aa 88         88,    ,88 88
//  `"YbbdP"Y8  `"Ybbd8"' 88       88  `"Ybbd8"' 88         `"8bbdP"Y8 88
//  aa,    ,88                                                           
//   "Y8bbdP"                                                            
.el-button--primary.is-plain {
    color: #4b7bec;
    background: #ecf2ff;
    border-color: #9caeda;
}

.el-button--primary {
    color: #fff;
    background-color: #5f84e2;
    border-color: #3867d6;
}

.el-table--fit {
    // padding: 20px 20px 0 20px;
    padding: 20px 0 0 0;
}

.el-table thead {
    color: #6d8edc;
}

.el-table th {
    padding: 0px !important;
}

.el-table th>.cell {
    text-align: center;
}

.el-table td {
    padding: 0px 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(56, 103, 214);
}

.el-button {
    border-radius: .4em;
    // box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.el-button+.el-button {
    margin-left: 5px;
}

.el-button--primary.is-plain:focus,
.el-button--primary.is-plain:hover,
.el-button--primary:focus,
.el-button--primary:hover {
    color: #fff;
    background: rgb(56, 103, 214);
    border-color: #2a5fdb;
}

//                                    88                                88                       
//                                    ""                          ,d    ""                        
//                                                                88                              
// 8b,dPPYba,  ,adPPYYba, 8b       d8 88  ,adPPYb,d8 ,adPPYYba, MM88MMM 88  ,adPPYba,  8b,dPPYba, 
// 88P'   `"8a ""     `Y8 `8b     d8' 88 a8"    `Y88 ""     `Y8   88    88 a8"     "8a 88P'   `"8a
// 88       88 ,adPPPPP88  `8b   d8'  88 8b       88 ,adPPPPP88   88    88 8b       d8 88       88
// 88       88 88,    ,88   `8b,d8'   88 "8a,   ,d88 88,    ,88   88,   88 "8a,   ,a8" 88       88
// 88       88 `"8bbdP"Y8     "8"     88  `"YbbdP"Y8 `"8bbdP"Y8   "Y888 88  `"YbbdP"'  88       88
//                                        aa,    ,88                                              
//                                         "Y8bbdP"
//
.el-header {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 999;
    background: #fff;
    top: 0px;
    border-bottom: solid 1px #e6e6e6;
    img.header-logo {
        height: 50px;
    }
    // .navigation-head {
    //     padding: 7.5px 0;
    //     display: block;
    //     height: 50px;
    // }
    .right-menu {
        height: 50px;
        padding: 7.5px 0;
    }
}

//
// 88                               88            
// 88                               88            
// 88                               88            
// 88,dPPYba,   ,adPPYba,   ,adPPYb,88 8b       d8
// 88P'    "8a a8"     "8a a8"    `Y88 `8b     d8'
// 88       d8 8b       d8 8b       88  `8b   d8' 
// 88b,   ,a8" "8a,   ,a8" "8a,   ,d88   `8b,d8'  
// 8Y"Ybbd8"'   `"YbbdP"'   `"8bbdP"Y8     Y88'   
//                                         d8'    
//                                        d8'     
//
.main-body {
    top: 50px;
    padding-top: 50px;
    width: 100%;
    overflow-x: hidden;
    .action-bar {
        background: #f5f6fa;
        width: 98.5%;
        border-bottom: 1px solid #dbe3ea;
        padding: 15px 20px;
        position: fixed;
        display: block;
        top: 50px;
        z-index: 2;
    }
    .el-input-group--append>.el-input__inner {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .el-input-group__append {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    .main {
        // background: #f5f6fa;
        padding: 0px 20px 10px 20px;
    }
    .table-pemeriksaan {
        background: #fff;
        margin-top: 60px;
        // padding: 10px 20px 20px 20px;
        padding: 20px 0px 20px 0px;
        hr.line-pemeriksaan {
            border: .5px solid #ebeef5;
            margin-block-end: 1.2em;
        }
    }
    .right-detail {
        // background: #e9f2f5;
        // background: #dbe3ea;
        background: #e3eaf7;
        overflow: initial;
        padding: 20px 20px 20px 20px;
        margin-top: 60px;
        // height: 83vh;
        height: 74vh;
        position: fixed;
        overflow: auto;
        display: block;
        right: 0;
        hr.line-detail-pemeriksaan {
            border: .5px solid #c5cbd8;
            margin-block-end: 1.2em;
        }
        hr.list-detail-pemeriksaan {
            border: .5px solid #c5cbd8;
            margin-block-end: 1.2em;
            margin-block-start: 1.2em;
        }
        .row-detail-pemeriksaan {
            margin-bottom: 15px;
            color: #606266;
        }
        .title-kategori {
            margin-bottom: 15px;
            margin-top: 15px;
            color: #3867d6;
        }
        .block-pemeriksaan {
            padding: 20px 15px;
            border: 1px solid #c5cbd8;
            border-radius: 5px;
        }
        .block-pemeriksaan .class-pemeriksaan {
            padding: 0px;
        }
        .block-pemeriksaan .el-card__body {
            padding: 10px !important;
        }
        .el-card.is-always-shadow {
            margin-bottom: 15px;
        }
        .el-card.class-pemeriksaan {
            padding: 0;
            margin-left: 3.5px;
            margin-right: 3.5px;
            margin-bottom: 10px;
            color: #606266;
        }
        .el-card__header>.clearfix {
            color: #848589;
        }
        // .el-card.class-pemeriksaan>.el-card__body {
        //     padding: 5px;
        // }
        .el-card.class-pemeriksaan.is-hover-shadow {
            .el-card__body {
                padding: 5px !important;
            }
        }
        .footer-detail {
            padding: .55rem 1rem;
            text-align: right;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            // border-top: 1px solid #eeeeee;
            border: 1px solid #eeeeee;
            position: fixed;
            bottom: 0;
            margin-bottom: 0;
            width: 67%;
            background: #fff;
            margin-left: -20px;
        }
    }
    //scroll bar inner detail pemeriksaan & table pemeriksaan
     ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }
     ::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, .1);
        border-radius: 5px;
    }
     ::-webkit-scrollbar-thumb:hover {
        background-color: #3867d6;
    }
     ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #4674dd;
        transition: all 400ms ease-in-out
    }
     ::-moz-scrollbar {
        width: 7px;
        height: 7px;
    }
     ::-moz-scrollbar-track {
        background-color: rgba(0, 0, 0, .1);
        border-radius: 5px;
    }
     ::-moz-scrollbar-thumb:hover {
        background-color: #3867d6;
    }
     ::-moz-scrollbar-thumb {
        border-radius: 5px;
        background-color: #4674dd;
        transition: all 400ms ease-in-out
    }
}

//
// ad88                                                   
// d8"                           ,d                        
// 88                            88                        
// MM88MMM ,adPPYba,   ,adPPYba, MM88MMM ,adPPYba, 8b,dPPYba,
// 88   a8"     "8a a8"     "8a  88   a8P_____88 88P'   "Y8
// 88   8b       d8 8b       d8  88   8PP""""""" 88        
// 88   "8a,   ,a8" "8a,   ,a8"  88,  "8b,   ,aa 88        
// 88    `"YbbdP"'   `"YbbdP"'   "Y888 `"Ybbd8"' 88