<template>
  <div class="action-bar">
    <el-row>
      <el-col :md="10" style="text-align: center">
        <el-row :gutter="5">
          <el-col :span="18">
            <el-input
              :value="keyword"
              @input="updateKeyword"
              @keyup.enter.native="checkEnter"
              placeholder="Please input"
            >
              <el-button
                slot="append"
                icon="el-icon-search"
                @click="onSearch"
              />
            </el-input>
          </el-col>

          <el-col :span="6">
            <el-button type="primary" plain @click="refreshAction()"
              >Refresh</el-button
            >
          </el-col>
        </el-row>
      </el-col>
      <el-col :md="7" style="text-align: center">
        <el-button type="primary" plain>Filter</el-button>
      </el-col>
      <!-- <el-col :md="10" style="text-align: right; width: 96.8%;"> -->
      <el-col :md="7" style="text-align: right; padding-right:20px;">
        <el-button type="primary" @click="handlerTambahPasien(true)"
          >Tambah Pemeriksaan</el-button
        >
        <el-button type="danger">Cito</el-button>
      </el-col>
      <!-- <el-col :span="2">
        <el-button circle size="small" type="primary" @click="refreshAction()"
          ><i class="el-icon-refresh"
        /></el-button>
        <el-button
          circle
          size="small"
          type="primary"
          @click="handlerTambahPasien(true)"
          ><i class="el-icon-circle-plus-outline"
        /></el-button>
      </el-col>
      <el-col :span="4"> <div class="grid-content bg-purple" /> </el-col>
      <el-col :span="4"> <div class="grid-content bg-purple-light" /> </el-col>
      <el-col :span="4"> <div class="grid-content bg-purple" /> </el-col>
      <el-col :span="4"> <div class="grid-content bg-purple-light" /> </el-col> -->
    </el-row>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
// import Vue from "vue";
// import { Row, Col, Input, Button } from "element-ui";
// import "element-ui/lib/theme-chalk/index.css";

// Vue.use({ Row });
// Vue.use({ Col });
// Vue.use({ Input });
// Vue.use({ Button });

export default {
  computed: {
    ...mapState({
      keyword: state => state.ActionBar.keyword
    })
  },
  methods: {
    ...mapMutations({
      updateKeyword: "ActionBar/keyword",
      handlerTambahPasien: "FormTambahPasien/dialogVisible"
    }),
    ...mapActions({
      refreshAction: "TablePasien/refresh", // map `this.add()` to `this.$store.dispatch('increment')`,
      onSearch: "TablePasien/searchAction"
    }),
    checkEnter(object) {
      this.onSearch();
    }
  }
};
</script>
<style lang="scss" scoped>
@import "./../style.scss";
</style>
