<template>
  <div class="main-body">
    <action-bar />
    <el-row>
      <!-- <el-col :md="sizeBlockTable" class="main">
        <el-col :md="sizeColTable" class="table-pemeriksaan"> -->
      <!-- <transition name="el-fade-in"> -->
      <transition name="el-zoom-in-bottom">
        <el-col :md="sizeBlockTable" class="main">
          <el-col :md="sizeColTable" class="table-pemeriksaan">
            <h2>Hasil Pemeriksaan Pasien</h2>
            <hr class="line-pemeriksaan" />
            <list-pasien @edit="onEditPasien" />
          </el-col>
        </el-col>
      </transition>

      <transition name="el-fade-in-linear">
        <form-detail-pasien @edit="onEditPasien" v-show="dialogDetailVisible" />
      </transition>
    </el-row>
    <form-tambah-pasien />
    <!--<form-edit-pasien
      :dialog-visible.sync="open_dialog_edit_pasien"
      :pasien="pasienEdit"
    /> -->
  </div>
</template>
<script>
import { mapMutations, mapState, mapActions } from "vuex";
// import Vue from "vue";
// import { Row, Col } from "element-ui";
import ActionBar from "./ActionBar";
import FormEditPasien from "@/components/FormEditPasien";
import ListPasien from "@/components/TablePasien";
import FormTambahPasien from "@/components/FormTambahPasien";
import FormDetailPasien from "@/components/FormDetailPasien";
// import "element-ui/lib/theme-chalk/index.css";

// Vue.use({ Row });
// Vue.use({ Col });

export default {
  components: {
    ActionBar,
    FormEditPasien,
    ListPasien,
    FormTambahPasien,
    FormDetailPasien
  },
  data() {
    return {
      pasienEdit: {
        id: null,
        no_rm: null,
        nama: null,
        jenis_kelamin: null,
        tanggal_lahir: null,
        no_telphone: null,
        alamat: null
      },
      open_dialog_edit_pasien: false
    };
  },
  computed: {
    ...mapState({
      sizeBlockTable: state => state.Main.sizeBlockTable,
      sizeColTable: state => state.Main.sizeColTable,
      dialogDetailVisible: state => state.FormDetailPasien.dialogDetailVisible,
      dialogVisible: state => state.FormTambahPasien.dialogVisible
    })
  },
  methods: {
    ...mapActions({
      // showDetail: "FormDetailPasien/showDetail",
      // showHideDetail: "Main/showHideDetail"
      showHideDetailSize: "Main/showHideDetail"
    }),
    ...mapMutations({
      // setDialogDetailVisible: "FormDetailPasien/SET_VISIBLE_DETAIL",
      // //   handlerViewDetail: "FormDetailPasien/dialogDetailVisible"
      // setShowHideDetail: "Main/HANDLER_OPEN_DETAIL"
      setDetailSize: "Main/HANDLER_OPEN_DETAIL"
    }),
    tambah_pasien_event() {
      this.open_dialog_tambah_pasien = true;
    },
    onEditPasien(pasien) {
      this.pasienEdit = Object.assign({}, pasien);
      this.open_dialog_edit_pasien = true;
    }
  }
};
</script>
<style lang="scss" scoped>
@import "./../style.scss";
</style>
