<template>
  <el-header height="50px">
    <el-col :md="3">
      <img
        class="header-logo"
        src="../assets/images/header-logo.png"
        style="height: 35px;padding:7.5px 0"
      />
    </el-col>
    <el-col :md="21" class="navigation-head">
      <el-col :md="16" align="center">
        <p>test</p>
        <!-- <el-menu
          :default-active="activeIndex2"
          class="el-menu-demo"
          mode="horizontal"
          @select="handleSelect"
        >
          <el-menu-item index="1">Processing Center</el-menu-item>
          <el-submenu index="2">
            <template slot="title"
              >Workspace</template
            >
            <el-menu-item index="2-1">item one</el-menu-item>
            <el-menu-item index="2-2">item two</el-menu-item>
            <el-menu-item index="2-3">item three</el-menu-item>
            <el-submenu index="2-4">
              <template slot="title"
                >item four</template
              >
              <el-menu-item index="2-4-1">item one</el-menu-item>
              <el-menu-item index="2-4-2">item two</el-menu-item>
            </el-submenu>
          </el-submenu>
          <el-menu-item index="3" disabled>Info</el-menu-item>
          <el-menu-item index="4"
            ><a href="https://www.ele.me" target="_blank"
              >Orders</a
            ></el-menu-item
          >x
        </el-menu> -->
      </el-col>
      <el-col :md="8" align="right">
        <div class="right-menu">
          <nilai-kritis></nilai-kritis>
          <konfirmasi></konfirmasi>
          <selesai-pemeriksaan></selesai-pemeriksaan>

          <el-dropdown trigger="click">
            <el-button size="small" type="primary" plain>Nama User</el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>Action 1</el-dropdown-item>
              <el-dropdown-item>Action 2</el-dropdown-item>
              <el-dropdown-item>Action 3</el-dropdown-item>
              <el-dropdown-item>Action 4</el-dropdown-item>
              <el-dropdown-item>Action 5</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </el-col>
    </el-col>
  </el-header>
</template>

<script>
// import Vue from "vue";
// import {
//   Menu,
//   Col,
//   Button,
//   Dropdown,
//   DropdownItem,
//   DropdownMenu
// } from "element-ui";
import NilaiKritis from "./HeaderNavigation/HeaderNavigationNilaiKritis";
import Konfirmasi from "./HeaderNavigation/HeaderNavigationKonfirmasi";
import SelesaiPemeriksaan from "./HeaderNavigation/HeaderNavigationSelesai";
// import "element-ui/lib/theme-chalk/index.css";

// Vue.use({ Menu });
// Vue.use({ Col });
// Vue.use({ Button });
// Vue.use({ Dropdown });
// Vue.use({ DropdownItem });
// Vue.use({ DropdownMenu });

export default {
  components: {
    NilaiKritis,
    Konfirmasi,
    SelesaiPemeriksaan
  },
  data() {
    return {
      activeIndex: "1",
      activeIndex2: "1"
    };
  },
  methods: {
    handleSelect(key, keyPath) {
      console.log(key, keyPath);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./../style.scss";
// .slide-fade-enter-active {
//   transition: all 0.3s ease;
// }
// .slide-fade-leave-active {
//   transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
// }
// .slide-fade-enter,
// .expand-fade-leave-active {
//   margin-left: 20px;
//   opacity: 0;
// }
</style>
