<template>
  <div>
    <!-- <el-col
      :md="sizeColDetail"
      :visible="dialogDetailVisible"
      @update:visible="setDialogDetailVisible"
    > -->
    <el-col :md="sizeColDetail" class="right-detail">
      <h2>Detail Pemeriksaan Pasien</h2>
      <hr class="line-detail-pemeriksaan" />
      <div>
        <el-col :md="24" class="row-detail-pemeriksaan">
          <el-col :md="12">
            <el-col :md="8"><b>No. Registrasi</b></el-col>
            <el-col :md="1">:</el-col>
            <el-col :md="15">{{ nama }}</el-col>
          </el-col>
          <el-col :md="12">
            <el-col :md="8"><b>No. Laboratorium</b></el-col>
            <el-col :md="1">:</el-col>
            <el-col :md="15">{{ nama }}</el-col>
          </el-col>
        </el-col>
        <hr class="list-detail-pemeriksaan" />
        <el-col :md="24">
          <el-col :md="12">
            <el-col :md="24" class="row-detail-pemeriksaan">
              <el-col :md="8"><b>No. RM</b></el-col>
              <el-col :md="1">:</el-col>
              <el-col :md="15">{{ no_rm }}</el-col>
            </el-col>
            <el-col :md="24" class="row-detail-pemeriksaan">
              <el-col :md="8"><b>Nama</b></el-col>
              <el-col :md="1">:</el-col>
              <el-col :md="15">{{ nama }}</el-col>
            </el-col>
            <el-col :md="24" class="row-detail-pemeriksaan">
              <el-col :md="8"><b>Jenis Kelamin</b></el-col>
              <el-col :md="1">:</el-col>
              <el-col :md="15">{{ jenis_kelamin }}</el-col>
            </el-col>
            <el-col :md="24" class="row-detail-pemeriksaan">
              <el-col :md="8"><b>Tanggal Lahir</b></el-col>
              <el-col :md="1">:</el-col>
              <el-col :md="15">{{ tanggal_lahir }}</el-col>
            </el-col>
            <el-col :md="24" class="row-detail-pemeriksaan">
              <el-col :md="8"><b>Umur</b></el-col>
              <el-col :md="1">:</el-col>
              <el-col :md="15">{{ nama }}</el-col>
            </el-col>
            <el-col :md="24" class="row-detail-pemeriksaan">
              <el-col :md="8"><b>Alamat</b></el-col>
              <el-col :md="1">:</el-col>
              <el-col :md="15">{{ alamat }}</el-col>
            </el-col>
          </el-col>
          <el-col :md="12">
            <el-col :md="24" class="row-detail-pemeriksaan">
              <el-col :md="8"><b>No. Telefon</b></el-col>
              <el-col :md="1">:</el-col>
              <el-col :md="15">{{ no_telphone }}</el-col>
            </el-col>
            <el-col :md="24" class="row-detail-pemeriksaan">
              <el-col :md="8"><b>Tanggal Periksa</b></el-col>
              <el-col :md="1">:</el-col>
              <el-col :md="15">{{ nama }}</el-col>
            </el-col>
            <el-col :md="24" class="row-detail-pemeriksaan">
              <el-col :md="8"><b>Unit Asal</b></el-col>
              <el-col :md="1">:</el-col>
              <el-col :md="15">{{ nama }}</el-col>
            </el-col>
            <el-col :md="24" class="row-detail-pemeriksaan">
              <el-col :md="8"><b>Dokter Pengirim</b></el-col>
              <el-col :md="1">:</el-col>
              <el-col :md="15">{{ nama }}</el-col>
            </el-col>
            <el-col :md="24" class="row-detail-pemeriksaan">
              <el-col :md="8"><b>Diagnosa Awal</b></el-col>
              <el-col :md="1">:</el-col>
              <el-col :md="15">{{ nama }}</el-col>
            </el-col>
            <el-col :md="24" class="row-detail-pemeriksaan">
              <el-col :md="8"><b>Keterangan Hasil</b></el-col>
              <el-col :md="1">:</el-col>
              <el-col :md="15">{{ nama }}</el-col>
            </el-col>
          </el-col>
        </el-col>
        <hr class="list-detail-pemeriksaan" />

        <el-col :md="24" class="row-detail-pemeriksaan">
          <el-col :md="8"><b>Pemeriksaan</b></el-col>
        </el-col>

        <el-col :md="24" class="block-pemeriksaan">
          <el-col :md="24" class="title-kategori">
            <el-col :md="8"><b>Nama Kategori 1</b></el-col>
          </el-col>
          <el-card class="box-card">
            <div slot="header" class="clearfix">
              <b><span>Nama Paket</span></b>
            </div>
            <el-row :gutter="12">
              <el-col :span="8">
                <el-card shadow="hover" class="class-pemeriksaan"
                  >Nama Pemeriksaan A - 1</el-card
                >
              </el-col>
              <el-col :span="8">
                <el-card shadow="hover" class="class-pemeriksaan">
                  Nama Pemeriksaan A - 2</el-card
                >
              </el-col>
              <el-col :span="8">
                <el-card shadow="hover" class="class-pemeriksaan">
                  Nama Pemeriksaan A - 3</el-card
                >
              </el-col>
            </el-row>
          </el-card>
          <el-col :md="24" class="title-kategori">
            <el-col :md="8"><b>Nama Kategori 2</b></el-col>
          </el-col>
          <el-row :gutter="12">
            <el-col :span="8">
              <el-card shadow="hover" class="class-pemeriksaan"
                >Nama Pemeriksaan B - 1</el-card
              >
            </el-col>
            <el-col :span="8">
              <el-card shadow="hover" class="class-pemeriksaan"
                >Nama Pemeriksaan B - 2</el-card
              >
            </el-col>
            <el-col :span="8">
              <el-card shadow="hover" class="class-pemeriksaan"
                >Nama Pemeriksaan B - 3</el-card
              >
            </el-col>
            <el-col :span="8">
              <el-card shadow="hover" class="class-pemeriksaan"
                >Nama Pemeriksaan B - 4</el-card
              >
            </el-col>
            <el-col :span="8">
              <el-card shadow="hover" class="class-pemeriksaan"
                >Nama Pemeriksaan B - 5</el-card
              >
            </el-col>
            <el-col :span="8">
              <el-card shadow="hover" class="class-pemeriksaan"
                >Nama Pemeriksaan B - 6</el-card
              >
            </el-col>
          </el-row>
          <el-col :md="24" class="title-kategori">
            <el-col :md="8"><b>Nama Kategori 3</b></el-col>
          </el-col>
          <el-card class="box-card">
            <div slot="header" class="clearfix">
              <b><span>Nama Paket</span></b>
            </div>
            <el-row :gutter="12">
              <el-col :span="8">
                <el-card shadow="hover" class="class-pemeriksaan"
                  >Nama Pemeriksaan C - 1</el-card
                >
              </el-col>
              <el-col :span="8">
                <el-card shadow="hover" class="class-pemeriksaan">
                  Nama Pemeriksaan C - 2</el-card
                >
              </el-col>
              <el-col :span="8">
                <el-card shadow="hover" class="class-pemeriksaan">
                  Nama Pemeriksaan C - 3</el-card
                >
              </el-col>
            </el-row>
          </el-card>
          <el-row :gutter="12">
            <el-col :span="8">
              <el-card shadow="hover" class="class-pemeriksaan"
                >Nama Pemeriksaan B - 1</el-card
              >
            </el-col>
            <el-col :span="8">
              <el-card shadow="hover" class="class-pemeriksaan"
                >Nama Pemeriksaan B - 2</el-card
              >
            </el-col>
            <el-col :span="8">
              <el-card shadow="hover" class="class-pemeriksaan"
                >Nama Pemeriksaan B - 3</el-card
              >
            </el-col>
          </el-row>
        </el-col>
      </div>

      <!-- <el-form label-position="left" style="padding: 20px" label-width="95px">
        <el-form-item label="No. RM">
          <el-input :value="no_rm" disabled />
        </el-form-item>
        <el-form-item label="Nama">
          <el-input :value="nama" disabled />
        </el-form-item>
        <el-form-item label="Jenis Kelamin">
          <el-select
            :value="jenis_kelamin"
            disabled
            placeholder="pilih jenis kelamin"
          >
            <el-option label="Laki-Laki" value="L" />
            <el-option label="Perempuan" value="P" />
          </el-select>
        </el-form-item>
        <el-form-item label="Jenis Kelamin">
          <el-select
            :value="jenis_kelamin"
            disabled
            placeholder="pilih jenis kelamin"
          >
            <el-option label="Laki-Laki" value="L" />
            <el-option label="Perempuan" value="P" />
          </el-select>
        </el-form-item>
        <el-form-item label="Jenis Kelamin">
          <el-select
            :value="jenis_kelamin"
            disabled
            placeholder="pilih jenis kelamin"
          >
            <el-option label="Laki-Laki" value="L" />
            <el-option label="Perempuan" value="P" />
          </el-select>
        </el-form-item>
        <el-form-item label="Jenis Kelamin">
          <el-select
            :value="jenis_kelamin"
            disabled
            placeholder="pilih jenis kelamin"
          >
            <el-option label="Laki-Laki" value="L" />
            <el-option label="Perempuan" value="P" />
          </el-select>
        </el-form-item>
        <el-form-item label="Jenis Kelamin">
          <el-select
            :value="jenis_kelamin"
            disabled
            placeholder="pilih jenis kelamin"
          >
            <el-option label="Laki-Laki" value="L" />
            <el-option label="Perempuan" value="P" />
          </el-select>
        </el-form-item>
        <el-form-item label="Tanggal Lahir">
          <el-date-picker
            :value="tanggal_lahir"
            disabled
            format="yyyy-MM-dd"
            value-format="yyyy-MM-dd"
            type="date"
            placeholder="Pick a date"
            style="width: 100%;"
          />
        </el-form-item>
        <el-form-item label="No. Telhone">
          <el-input :value="no_telphone" disabled />
        </el-form-item>
        <el-form-item label="alamat">
          <el-input :value="alamat" disabled type="textarea" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onEditPasien">Edit</el-button>
        </el-form-item>
      </el-form> -->
      <div class="footer-detail">
        <span class="dialog-footer"
          ><el-button type="defaul" @click="closeDetail">Tutup</el-button>
          <el-button type="warning">Edit</el-button>
          <el-button type="danger">Print </el-button>
        </span>
      </div>
    </el-col>
  </div>
</template>
<script>
import { mapState, mapMutations, mapActions } from "vuex";
// import Vue from "vue";
// import { Col, Row, Card } from "element-ui";
// import "element-ui/lib/theme-chalk/index.css";
// Vue.use({ Col });
// Vue.use({ Row });
// Vue.use({ Card });
export default {
  computed: {
    ...mapState({
      sizeColDetail: state => state.FormDetailPasien.sizeColDetail,
      id: state => state.FormDetailPasien.id,
      no_rm: state => state.FormDetailPasien.no_rm,
      nama: state => state.FormDetailPasien.nama,
      jenis_kelamin: state => state.FormDetailPasien.jenis_kelamin,
      tanggal_lahir: state => state.FormDetailPasien.tanggal_lahir,
      no_telphone: state => state.FormDetailPasien.no_telphone,
      alamat: state => state.FormDetailPasien.alamat,
      sizeBlockTable: state => state.Main.sizeBlockTable
    })
  },
  methods: {
    ...mapMutations({
      setDialogDetailVisible: "FormDetailPasien/SET_VISIBLE_DETAIL",
      handlerEdit: "FormEditPasien/handlerEdit",
      setDetailRegister: "FormDetailPasien/SET_DETAIL",
      setDetailSize: "Main/HANDLER_OPEN_DETAIL"
    }),
    ...mapActions({
      showDetail: "FormDetailPasien/showDetail",
      showHideDetailSize: "Main/showHideDetail"
    }),
    onEditPasien() {
      this.handlerEdit({
        id: this.id,
        no_rm: this.no_rm,
        nama: this.nama,
        jenis_kelamin: this.jenis_kelamin,
        tanggal_lahir: this.tanggal_lahir,
        no_telphone: this.no_telphone,
        alamat: this.alamat
      });
    },
    closeDetail() {
      this.setDialogDetailVisible(false);
      this.setDetailSize(24);
    }
  }
};
</script>
<style lang="scss" scoped>
@import "./../style.scss";
</style>
