<template>
  <!-- <el-dialog
    :visible="dialogVisible"
    @update:visible="setDialogVisible"
    title="Tambah pasien"
    width="50%"
  > -->
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div
        class="modal"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header class="modal-header" id="modalTitle">
          <span class="el-dialog__title"><b>Tambah Unit Asal</b></span>
          <button
            type="button"
            aria-label="Close"
            @click="setDialogVisible(false)"
            class="el-dialog__headerbtn"
          >
            <i class="el-dialog__close el-icon el-icon-close"></i>
          </button>
        </header>
        <section class="modal-body" id="modalDescription">
          <el-form
            v-loading="loadingForm"
            label-position="left"
            label-width="95px"
          >
            <el-form-item label="No. RM">
              <el-input :value="no_rm" @input="setNoRM" />
            </el-form-item>
            <el-form-item label="Nama">
              <el-input :value="nama" @input="setNama" />
            </el-form-item>
            <el-form-item label="Jenis Kelamin">
              <el-select
                :value="jenis_kelamin"
                @input="setJenisKelamin"
                placeholder="pilih jenis kelamin"
              >
                <el-option label="Laki-Laki" value="L" />
                <el-option label="Perempuan" value="P" />
              </el-select>
            </el-form-item>
            <el-form-item label="Tanggal Lahir">
              <el-date-picker
                :value="tanggal_lahir"
                @input="setTanggalLahir"
                format="yyyy-MM-dd"
                value-format="yyyy-MM-dd"
                type="date"
                placeholder="Pick a date"
                style="width: 100%;"
              />
            </el-form-item>
            <el-form-item label="No. Telhone">
              <el-input :value="no_telphone" @input="setNoTelphone" />
            </el-form-item>
            <el-form-item label="alamat">
              <el-input :value="alamat" @input="setAlamat" type="textarea" />
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="handlerTambahPasien">
                Create
              </el-button>
              <el-button>Cancel</el-button>
            </el-form-item>
          </el-form>
        </section>
        <footer class="modal-footer">
          <span slot="footer" class="dialog-footer">
            <el-button @click="setDialogVisible(false)">Tutup</el-button>

            <el-button type="primary" @click="handlerTambahPasien">
              Simpan</el-button
            >
          </span>
        </footer>
      </div>
    </div>
  </transition>
  <!-- </el-dialog> -->
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
// import Vue from "vue";
// import "element-ui/lib/theme-chalk/index.css";
// import {
//   Form,
//   FormItem,
//   Input,
//   Dialog,
//   Button,
//   DatePicker,
//   Select,
//   Option,
//   OptionGroup
// } from "element-ui";
// Vue.use({ Form });
// Vue.use({ FormItem });
// Vue.use({ Input });
// Vue.use({ Dialog });
// Vue.use({ Button });
// Vue.use({ DatePicker });
// Vue.use({ Select });
// Vue.use({ Option });
// Vue.use({ OptionGroup });
export default {
  computed: {
    ...mapState("FormTambahPasien", {
      loadingForm: state => state.loadingForm,
      dialogVisible: state => state.dialogVisible,
      no_rm: state => state.no_rm,
      nama: state => state.nama,
      jenis_kelamin: state => state.jenis_kelamin,
      tanggal_lahir: state => state.tanggal_lahir,
      no_telphone: state => state.no_telphone,
      alamat: state => state.alamat
    })
  },
  methods: {
    ...mapMutations("FormTambahPasien", {
      setNoRM: "no_rm",
      setNama: "nama",
      setDialogVisible: "dialogVisible",
      setJenisKelamin: "jenis_kelamin",
      setTanggalLahir: "tanggal_lahir",
      setNoTelphone: "no_telphone",
      setAlamat: "alamat"
    }),
    ...mapActions("FormTambahPasien", {
      handlerTambahPasien: "tambahPasienAction"
    })
  }
};
</script>
<style lang="scss" scoped>
@import "./../style.scss";
</style>
