<template>
  <div>
    <!-- <el-table
      v-loading="loadingData"
      :data="tableData"
      stripe
      align="center"
      @row-click="rowClick"
    > -->
    <el-table
      v-loading="loadingData"
      :data="tableData"
      stripe
      align="center"
      @row-click="registerDetail"
    >
      <el-table-column
        prop="no_lab"
        label="No. Laboratorium"
        align="center"
        width="130"
      ></el-table-column>
      <el-table-column
        prop="no_rm"
        align="center"
        width="130"
        label="No. RM"
      ></el-table-column>
      <el-table-column
        prop="nama"
        label="Nama Pasien"
        style="min-width: 300px"
      ></el-table-column>
      <el-table-column
        prop="tgl_pemeriksaan"
        width="170"
        align="center"
        label="Tanggal Pemeriksaan"
      ></el-table-column>
      <el-table-column
        prop="no_nota"
        width="220"
        align="center"
        label="No. Nota"
      ></el-table-column>
      <el-table-column
        prop="status_pemeriksaan"
        width="140"
        align="center"
        label="Status Pemeriksaan"
      >
        <template slot-scope="scope">
          <el-tag
            width="80"
            v-if="scope.row.status_pemeriksaan === 'belum diperiksa'"
            type="primary"
            close-transition
            >Belum Diperiksa</el-tag
          >
          <el-tag
            width="80"
            v-else-if="scope.row.status_pemeriksaan === 'selesai'"
            type="success"
            close-transition
            >Selesai</el-tag
          >
          <el-tag
            width="80"
            v-else-if="scope.row.status_pemeriksaan === 'diperiksa'"
            type="info"
            close-transition
            >Diperiksa</el-tag
          >
          <el-tag
            width="80"
            v-else-if="scope.row.status_pemeriksaan === 'expertise'"
            type="warning"
            close-transition
            >Expertise</el-tag
          >
        </template>
      </el-table-column>
      <el-table-column
        prop="status_verifikasi"
        align="center"
        label="Status Verifikasi"
      >
        <template slot-scope="scope">
          <el-tag
            width="80"
            v-if="scope.row.status_verifikasi === 'belum verifikasi'"
            type="danger"
            close-transition
            >Belum Diperiksa</el-tag
          >
          <el-tag
            width="80"
            v-if="scope.row.status_verifikasi === 'verifikasi'"
            type="success"
            close-transition
            >Belum Diperiksa</el-tag
          >
        </template>
      </el-table-column>

      <!-- <el-table-column prop="no_rm" label="No. RM" width="80" />
      <el-table-column prop="nama" label="Nama" width="130" />
      <el-table-column prop="tanggal_lahir" label="Tanggal lahir" width="110" />
      <el-table-column prop="jenis_kelamin" label="Jenis" width="60" />
      <el-table-column prop="alamat" label="Alamat" />
      <el-table-column prop="no_telphone" label="Telphone" />
      <el-table-column prop="created" label="created" width="80" />
      <el-table-column prop="updated" label="updated" width="80" />
      <el-table-column width="60" label="Aksi">
        <template slot-scope="scope">
          <el-button
            circle
            size="small"
            type="danger"
            @click="handleDelete(scope.$index, scope.row)"
          >
            <i class="el-icon-delete" />
          </el-button>
          <el-button
            circle
            size="small"
            type="primary"
            @click="handleEdit(scope.$index, scope.row)"
          >
            <i class="el-icon-edit" />
          </el-button>
        </template>
      </el-table-column> -->
    </el-table>

    <el-pagination
      :total="total"
      :page-size="page_size"
      :current-page="page"
      style="margin-top:10px; padding:0px"
      background
      layout="total, prev, pager, next"
      @current-change="handleChangePage"
    />
  </div>
</template>
<script>
import { commit, mapState, mapMutations, mapActions } from "vuex";
// import { Pagination, Table, Tag, TableColumn } from "element-ui";
// import "element-ui/lib/theme-chalk/index.css";

// Vue.use({ Pagination });
// Vue.use({ Table });
// Vue.use({ Tag });
// Vue.use({ TableColumn });
export default {
  computed: {
    ...mapState({
      sizeBlockTable: state => state.Main.sizeBlockTable,
      tableData: state => state.TablePasien.pasiens,
      loadingData: state => state.TablePasien.loadingData,
      page: state => state.TablePasien.page,
      total: state => state.TablePasien.total,
      page_size: state => state.TablePasien.page_size
    })
  },
  methods: {
    ...mapMutations({
      setTablePage: "TablePasien/page",
      setFormDetailPasien: "FormDetailPasien/setDetail",
      setFormEditPasien: "FormEditPasien/handlerEdit",
      handlerTambahPasien: "FormDetailPasien/dialogDetailVisible",
      setDialogDetailVisible: "FormDetailPasien/SET_VISIBLE_DETAIL",
      setDetailRegister: "FormDetailPasien/SET_DETAIL",
      setDetailSize: "Main/HANDLER_OPEN_DETAIL"
    }),
    ...mapActions({
      refreshTableAction: "TablePasien/refresh",
      deleteTableAction: "TablePasien/delete",
      showDetail: "FormDetailPasien/showDetail",
      showHideDetailSize: "Main/showHideDetail"
    }),
    handleChangePage(val) {
      this.setTablePage(val);
      this.refreshTableAction();
    },
    // rowClick(row, event, column) {
    //   if (column.label !== "Aksi") {
    //     this.setFormDetailPasien(row);
    //   }
    // },
    registerDetail(value) {
      this.showDetail(true);
      this.setVisibleDetail = true;
      // console.log("value : " + JSON.stringify(value));
      this.setDetailRegister(value);
      this.setDetailSize(8);
    },
    handleEdit(index, row) {
      this.setFormEditPasien(row);
    },
    handleDelete: async function(index, row) {
      this.deleteTableAction(row);
    }
  }
};
</script>
