<template>
  <el-tooltip
    class="item"
    effect="dark"
    content="Notifikasi Pasien Kritis"
    placement="bottom"
  >
    <el-dropdown trigger="click">
      <el-button size="small" type="primary" plain
        ><i class="el-icon-bell"></i
      ></el-button>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item>Action 1</el-dropdown-item>
        <el-dropdown-item>Action 2</el-dropdown-item>
        <el-dropdown-item>Action 3</el-dropdown-item>
        <el-dropdown-item>Action 4</el-dropdown-item>
        <el-dropdown-item>Action 5</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </el-tooltip>
</template>

<script>
import {
  Tooltip,
  Dropdown,
  Button,
  DropdownItem,
  DropdownMenu
} from "element-ui";
export default {};
</script>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import "./../../style.scss";
</style>
